[Desktop Entry]
Name=Cotel
Comment=CoAP messaging GUI tool
Exec=/home/kbee/dev/cotel/share/run/run.sh
Icon=/home/kbee/dev/cotel/repo/resources/cotel32.png
Type=Application
Encoding=UTF-8
Terminal=false
StartupWMClass=cotel
