[Desktop Entry]
Name=Cotel
Comment=CoAP messaging GUI tool
Exec=cotel
Icon=cotel
Type=Application
Encoding=UTF-8
Terminal=false
StartupWMClass=cotel
Categories=Utility;
