[Desktop Entry]
Name=Cotel
Comment=Cotel CoAP Explorer
Exec=/home/kbee/dev/cotel/share/run/cotelg -c:/home/kbee/dev/cotel/share/run/cotel.conf
Icon=/home/kbee/dev/cotel/repo/resources/cotel32.png
Type=Application
Encoding=UTF-8
Terminal=false
StartupWMClass=cotelg
